In [28]:
import pandas as pd

In [29]:
df = pd.read_csv("titanic.csv")
df

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",2,male,27.0,0,0,211536,13.0000,NaN,S,0
887,888,"Graham, Miss. Margaret Edith",1,female,19.0,0,0,112053,30.0000,B42,S,1
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",3,female,NaN,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,"Behr, Mr. Karl Howell",1,male,26.0,0,0,111369,30.0000,C148,C,1
890,891,"Dooley, Mr. Patrick",3,male,32.0,0,0,370376,7.7500,NaN,Q,0

In [30]:
df1 = pd.DataFrame(df[['Pclass' , 'Sex' , 'Age' , 'Fare']])
df1

     Pclass     Sex   Age     Fare
0         3    male  22.0   7.2500
1         1  female  38.0  71.2833
2         3  female  26.0   7.9250
3         1  female  35.0  53.1000
4         3    male  35.0   8.0500
..      ...     ...   ...      ...
886       2    male  27.0  13.0000
887       1  female  19.0  30.0000
888       3  female   NaN  23.4500
889       1    male  26.0  30.0000
890       3    male  32.0   7.7500

[891 rows x 4 columns]

In [31]:
dummies = pd.get_dummies(df['Sex']).astype(int)
dummies

     female  male
0         0     1
1         1     0
2         1     0
3         1     0
4         0     1
..      ...   ...
886       0     1
887       1     0
888       1     0
889       0     1
890       0     1

[891 rows x 2 columns]

In [32]:
df2 = pd.concat([df1,dummies],axis='columns')
df2

     Pclass     Sex   Age     Fare  female  male
0         3    male  22.0   7.2500       0     1
1         1  female  38.0  71.2833       1     0
2         3  female  26.0   7.9250       1     0
3         1  female  35.0  53.1000       1     0
4         3    male  35.0   8.0500       0     1
..      ...     ...   ...      ...     ...   ...
886       2    male  27.0  13.0000       0     1
887       1  female  19.0  30.0000       1     0
888       3  female   NaN  23.4500       1     0
889       1    male  26.0  30.0000       0     1
890       3    male  32.0   7.7500       0     1

[891 rows x 6 columns]

In [33]:
df2 = df2.drop(['Sex' , 'male'] , axis = 'columns')
df2

     Pclass   Age     Fare  female
0         3  22.0   7.2500       0
1         1  38.0  71.2833       1
2         3  26.0   7.9250       1
3         1  35.0  53.1000       1
4         3  35.0   8.0500       0
..      ...   ...      ...     ...
886       2  27.0  13.0000       0
887       1  19.0  30.0000       1
888       3   NaN  23.4500       1
889       1  26.0  30.0000       0
890       3  32.0   7.7500       0

[891 rows x 4 columns]

In [38]:
df2.columns[df2.isna().any()]

Index(['Age'], dtype='object')

In [39]:
df2.Age[df2.Age.isna()]

5     NaN
17    NaN
19    NaN
26    NaN
28    NaN
       ..
859   NaN
863   NaN
868   NaN
878   NaN
888   NaN
Name: Age, Length: 177, dtype: float64

In [41]:
df2.Age = df2.Age.fillna(df2.Age.mean())
df2.head(20)

    Pclass        Age     Fare  female
0        3  22.000000   7.2500       0
1        1  38.000000  71.2833       1
2        3  26.000000   7.9250       1
3        1  35.000000  53.1000       1
4        3  35.000000   8.0500       0
5        3  29.699118   8.4583       0
6        1  54.000000  51.8625       0
7        3   2.000000  21.0750       0
8        3  27.000000  11.1333       1
9        2  14.000000  30.0708       1
10       3   4.000000  16.7000       1
11       1  58.000000  26.5500       1
12       3  20.000000   8.0500       0
13       3  39.000000  31.2750       0
14       3  14.000000   7.8542       1
15       2  55.000000  16.0000       1
16       3   2.000000  29.1250       0
17       2  29.699118  13.0000       0
18       3  31.000000  18.0000       1
19       3  29.699118   7.2250       1

In [44]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df2,df.Survived,test_size=0.25)

In [45]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [46]:
model.fit(X_train,y_train)

GaussianNB()

In [47]:
model.score(X_test,y_test)

0.7354260089686099

In [48]:
model.predict_proba(X_test[:10])

array([[0.96844727, 0.03155273],
       [0.75531158, 0.24468842],
       [0.37340437, 0.62659563],
       [0.39482561, 0.60517439],
       [0.96832845, 0.03167155],
       [0.92636579, 0.07363421],
       [0.44041074, 0.55958926],
       [0.2146783 , 0.7853217 ],
       [0.25412217, 0.74587783],
       [0.76288817, 0.23711183]])

In [49]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.79104478, 0.73880597, 0.73880597, 0.80451128, 0.80451128])

In [50]:
from sklearn.model_selection import cross_val_score
cross_val_score(GaussianNB(),X_train, y_train, cv=5)

array([0.79104478, 0.73880597, 0.73880597, 0.80451128, 0.80451128])