In [12]:
import pandas as pd
df = pd.read_csv("heart1.csv")
df

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0,3,0,1,1,0,0
1,49,160,180,0,1,156,0,1,2,1,0,0,1,0
2,37,130,283,0,2,98,0,0,3,0,1,1,0,0
3,48,138,214,0,1,108,1,1,2,1,0,0,0,0
4,54,150,195,0,1,122,0,0,3,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
895,45,110,264,0,1,132,0,1,2,1,1,0,0,1
896,68,144,193,1,1,141,0,3,2,1,1,0,0,0
897,57,130,131,0,1,115,1,1,2,1,1,0,0,0
898,57,130,236,0,3,174,0,0,2,1,0,1,0,0
899,38,138,175,0,1,173,0,0,3,0,1,0,1,0

In [13]:
X = df.drop("HeartDisease",axis='columns')
y = df.HeartDisease

In [14]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X = scaler.fit_transform(X)
X

array([[-1.42859937,  0.46558517,  0.85055001, ...,  2.0647416 ,
        -0.53452248, -0.22941573],
       [-0.47580769,  1.6349075 , -0.16584549, ..., -0.4843221 ,
         1.87082869, -0.22941573],
       [-1.7461966 , -0.11907599,  0.79460163, ...,  2.0647416 ,
        -0.53452248, -0.22941573],
       ...,
       [ 0.37111824, -0.11907599, -0.62275723, ..., -0.4843221 ,
        -0.53452248, -0.22941573],
       [ 0.37111824, -0.11907599,  0.35633935, ...,  2.0647416 ,
        -0.53452248, -0.22941573],
       [-1.64033085,  0.34865294, -0.21246914, ..., -0.4843221 ,
         1.87082869, -0.22941573]])

In [15]:
from sklearn.svm import SVC
from sklearn.model_selection import cross_val_score

scores = cross_val_score(SVC(), X, y, cv=5)
scores.mean()

0.8133333333333332

In [20]:
from sklearn.ensemble import BaggingClassifier

bag_model = BaggingClassifier(base_estimator=SVC(), n_estimators=100, max_samples=0.8, random_state=0)
scores = cross_val_score(bag_model, X, y, cv=5)
scores.mean()

TypeError: BaggingClassifier.__init__() got an unexpected keyword argument 'base_estimator'